<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>List of Students%></p>
    
    
    <ul>
      <% if(studentsArray != undefined)  { %>
        <p><%= //studentsArray.data[0].student_first + " - " + studentsArray.data[0].student_last %></p>
        <% for(let i = 0; i < studentsArray.data.length; i++) { %>
          <li><%= studentsArray.data[i].student_first %> <%= studentsArray.data[i].student_last %> <%= studentsArray.data[i].hobby %> <a href='/delete/5'>Delete</a></li>
        <% } %>
      <% } %>  
    </ul>

  </body>
</html>
