<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>List of Students%></p>
    <p><%= studentsArray[0].name + " - " + studentsArray[0].name %></p>
    <p><%= 1 + 2 %></p>
    <p><% 
        // scriptlet
        let a = 20
        let b = 40
        let c = "Hello" 
        let myObject = { name: "AAAA", desc: "sdfsfsdf", quantity: 1000} 
        let myObj2 = studentsArray[1]
        %>
        <%= a + b %>
        <%= myObject.name %>
        <%= myObj2.name %>

        <% for(let i = 0; i < studentsArray.length; i++) { %>
              <p><%= studentsArray[i].student_first %> <%= studentsArray[i].student_last %> <%= studentsArray[i].hobby %></p>
        <% } %>
    </p>
    <ol>
      <% for(let i = 0; i < studentsArray.length; i++) { %>
        <li><%= studentsArray[i].student_first %> <%= studentsArray[i].student_last %> <%= studentsArray[i].hobby %></li>
  <% } %>
    </ol>
    <% //res.write("AAAAA") %>
  </body>
</html>
